.footer{
  max-width: 1200px;
  padding: 40px;
  margin: 0 auto;
}

.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin-top: 180px;
}

.footer-container img{
  max-width: 80px;  
}

.footer-container  span{
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}