/* ESTILOS GERAIS */
body{
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

 a{
  text-decoration: none;
  color: #000;
}

ul{
  list-style: none;
}

img{
  max-width: 150px;
}

h1, h2, h3,h4, span, p, ul, li{
  margin: 0px;
}

.tituloh3 .decoration{
  color: #274D30;
  font-size: 60px;
}

.tituloh3{
  font-size: 60px;
}

hr{
  background-color: #D1E4D6
}