:root{
  --corPrimaria: #0d5131;
  --corFundo: #f5f5f5;
  --corTexto: #000000; 
  --cor01: #D1E4D6;
  --cor02: #eef7ee;
  --corBotao01: #0d5131;
  --corBotao02: #dddddd;
  --gradienteBotao: linear-gradient(#fff, #abc4b1);
}

@media (prefers-color-scheme: dark){
  :root{
  --corPrimaria: #0d5131;
  --corFundo: #0e0e0e;
  --corTexto: #ffffff; 
  --cor01: #4f885f;
  --cor02: #0d5131;
  --corBotao01: #0d5131;
  --corBotao02: #918e8e;
  --gradienteBotao: linear-gradient(#9ABDA3, #4C7956);

  }
}

/* ESTILOS GERAIS */
body{
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Regular", sans-serif;
  background-color: var(--corFundo);
  color: var(--corTexto);
}
 a{
  text-decoration: none;
  color: var(--corTexto);
  display: inline-block;
}

ul{
  list-style: none;
}

img{
  max-width: 150px;
}

h1, h2, h3,h4, span, p, ul, li,a {
  margin: 0px;
}

.tituloh3, .decoration{
  color: var(--corPrimaria);
  font-size: 60px;
  font-family: "Roboto Medium", sans-serif;
}


.botaoAviso{
  padding: 10px 40px;
  background-color: var(--corPrimaria);
  border-style: none;
  color: var(--corFundo);
  border-radius: 5px;
  cursor: pointer;
}

/* controla o funcionamento mobile dos links com js */
@media (max-width: 600px){

  section {
  display: none;
}

section.active {
  display: block;
}
}
