/* ESTILOS GERAIS */
body{
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Regular", sans-serif;
}
 a{
  text-decoration: none;
  color: #000;
  display: inline-block;
}

ul{
  list-style: none;
}

img{
  max-width: 150px;
}

h1, h2, h3,h4, span, p, ul, li,a {
  margin: 0px;
}

.tituloh3, .decoration{
  /* color: #34603E; */
  color: #0d5131;
  font-size: 60px;
  font-family: "Roboto Medium", sans-serif;
}


hr{
  background-color: #D1E4D6
}

.botaoAviso{
  padding: 10px 40px;
  background-color: #274D30;
  border-style: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}


 /* controla a cor do botoes */
.mobile-nav .nav-link {
  color: #000; /* cor padrão dos botões */
}

.mobile-nav .nav-link.active {
  color: #ff0000; /* cor dos botões selecionados */
}

/* controla o funcionamento mobile dos links com js */

@media (max-width: 600px){
section {
  display: none;
}

section.active {
  display: block;
}
}
