.header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 40px;
  align-items: center;
  margin: 0 auto;

}

.header-menu {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  }

.header-menu a {
  color: #04200B;
  padding: 16px 0px;
  position: relative;
}

.header-menu a:after{
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background-color: #6c9676;
  transition: 0.2s;
  margin-top: 4px;
  position: absolute;
}

.header-menu a:hover:after{
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .header-menu a {
  background-image: linear-gradient(#D1E4D6, #aec7b5);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 450;
    box-shadow: inset 0px -1px 1px #D1E4D6;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  .header-menu {
    justify-content: center;
    gap: 32px;
    padding: 12px;
  }

  .header-menu a:after{
    display: none;
  }
}
