.header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 40px;
  align-items: center;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  }

.header-menu a {
  color: #04200B;
  /* PADDING 16 CIMA E BAIXO PARA FICAR MAIS FACIL O CURSOR DO MOUSE ENCONTRAR NA VERSÃO DESKTOP */
  padding: 16px 0px;
  position: relative;
  font-family: "Roboto Medium", sans-serif;
}

.header-menu a:after{
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background-color: #6c9676;
  transition: 0.2s;
  margin-top: 4px;
  position: absolute;
}

.header-menu a:hover:after{
  width: 100%;
}



@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    margin: 40px 0 0 0;
  }

  .header-menu a {
    background-color: #ddd;
   padding: 10px 20px;
    border-radius: 4px;
    box-shadow: inset 0px -1px 1px #D1E4D6;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .header-menu {
    justify-content: center;
    gap: 32px;
    padding-left: 0px;
    margin-top: 20px;
  }

  .header-menu a:after{
    display: none;
  }

  .header-menu a.active {
    background-image: linear-gradient(#D1E4D6, #aec7b5);
    /* Outros estilos que você desejar */
  }
}

@media (max-width: 600px){
  .header-menu{
    gap: 10px;
  }

  .header-menu a {
    background-color: #ddd;
   padding: 8px 16px;
    border-radius: 4px;
    font-weight: 450;
    box-shadow: inset 0px -1px 1px #D1E4D6;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

@media (max-width: 320px){
  .header-menu a{
    font-size: 0.6rem;
  }
}


