.introducao{
  max-width: 1200px;
  text-align: center;
  margin: 0px auto;
  padding: 20px 40px;
  text-align: center;
  margin-top: 40px;
}

.introducao h1{
  font-size: 60px;
  margin-bottom: 20px;
  font-family: "Noto Serif Regular";
}

.introducao h2{
    font-family: "Noto Serif Regular";
  font-size: 48px;
}

@media (max-width: 800px){
  .introducao h1{
    font-size: 36px;
    margin-bottom: 10px;
  }
  .introducao h2{
    font-size: 28px;
  }
}

@media (max-width: 600px){
  
  .introducao{
    margin-top: 0px;
  }
  .introducao h1{
    font-size: 24px;
    display: none;
  }
  .introducao h2{
    font-size: 24px;
    margin-top: 20px;
  }
}