.loginBg{
  background-color: #eceff4;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.loginForm{
  background-color: #ffffff;
}
.loginTitle{
  padding-top: 80px;
  padding-bottom: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label{
  display: block;  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #5a5a5a;
  margin-left: 8px;
  font-weight: 600;
}

.input input{
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid transparent;
  padding: 8px;
  width: 300px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 8px;
  border-radius: 4px;
  background-color: #eceff4;
  transition: 0.3s ease-in-out;
}

.input input:focus{
outline: none;
border-color: #27b91a;
background-color: #fff;
box-shadow: 0 0 2px 5px #27b91a3a;
}

button{
  border: none;
  padding: 12px 32px;
  border-radius: 20px;
  background-color: #27b91a;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover{
  background-color: #68c260;
  outline: none;
}

.buttonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 80px;
}

.buttonDiv a{
    color: #8a8a8a;
    padding: 8px;
}

.buttonDiv a:hover{
  color: #27b91a;
}

.loginContent{
  background-color: #0f0c22d2;
  color: #fcffff;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 -32px #eceff4, inset 0 32px #eceff4;
}

.contentTitle{
  padding: 80px 40px;
  text-align: center;
}

.contentDescription p{
  padding: 0 40px 0 40px;
  line-height: 1.6;
  width: 45ch;
  color: #a9a6b4d2 ;
}
.contentDescription a{
  color: #a9a6b4d2 ;
  text-decoration: none;
}
  .contentDescription a:hover{
  color: #ffffff ;
  text-decoration: none;
}

.contentFooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}

.contentMap a{
  padding: 12px 32px;
  border-radius: 20px;
  background-color: #27b91a;
  color: #ffffff;
}

.contentMap a:hover{
  background-color: #68c260;
}

