.organizacao{
  max-width: 1200px;
  padding: 40px;
  margin: 0 auto;
  position: relative;
}

.organizacao::before{
  content: '';
  display: block;
  width: 500px;
  height: 500px;
  background: url("../svg/icons8-rules.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 100px;
  top: 450px;
  opacity: 5%;
  rotate: 45deg;
}
.organizacao-titulo{
  margin-top: 60px;
 }

.organizacao-lista{
  max-width: 60ch;
  padding-left: 0px;
  margin-top: 60px;
}
.organizacao-lista li{
  padding: 20px;
}

.organizacao-lista h4{
  font-size: 24px;
}
.organizacao-lista p{

  line-height: 26px;
  padding: 8px;
}

.organizacao-lista li:nth-child(odd){
  background-color: var(--cor01);
  border-radius: 4px;
}

@media (max-width: 800px){
  .organizacao{
    padding: 20px;
  }
  .organizacao-titulo{
    margin-top: 40px;
    text-align: center;
  }
  .organizacao-lista{
    margin-top: 40px;
  }
}

@media (max-width: 600px){
  .organizacao-titulo{
  margin-top: 20px;
}

.organizacao-lista{
  margin-top: 20px;
}

  .organizacao-lista h4{
    font-size: 18px;
  }

  
.organizacao::before{
  content: '';
  display: block;
  width: 300px;
  height: 300px;
  background: url("../svg/icons8-rules.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 50px;
  background-size: contain;
  top: 450px;
  opacity: 4%;
  rotate: 15deg;
}
}