@import url("./global.css");
@import url("./header.css");
@import url("./intrudocao.css");
@import url("./escala.css");
@import url("./musica.css");
@import url("./organizacao.css");
@import url("./footer.css");
@import url("./fonte.css");
@import url("./sugestao.css");
@import url("./login.css");
@import url("./admin.css");


